<script>
  import { enhance } from "$app/forms";
  import { check_title_unique } from "$lib/client.js";

  export let data, form;
</script>

<form method="POST" use:enhance>
  <fieldset>
    <legend>Heading</legend>
    <div>
      <label for="title"> Title </label>
      <input
        type="text"
        id="title"
        name="name"
        class="fill"
        value={data.recipe.name}
        required
        on:input={(e) => check_title_unique(e, data.names)}
      />
    </div>
    <div>
      <label for="desc"> Description </label>
      <textarea id="desc" name="desc" rows="2" value={data.recipe.desc} />
    </div>
  </fieldset>

  <fieldset>
    <legend>Tags</legend>
    <datalist id="existing-tags">
      {#each data.all_tags as tag}
        <option value={tag} />
      {/each}
    </datalist>
    <div class="tag-grid">
      {#each data.tags as tag, i}
        <input
          type="text"
          name="tag"
          bind:value={tag}
          required
          list="existing-tags"
        />
        <button
          type="reset"
          on:click={() => (data.tags = data.tags.filter((_, ii) => ii !== i))}
        >
          &minus;
        </button>
      {/each}
    </div>
    <div class="row centre">
      <button type="button" on:click={() => (data.tags = [...data.tags, ""])}>
        +
      </button>
    </div>
  </fieldset>

  <fieldset class="row">
    <legend>Makes</legend>
    <div class="row centre fill">
      <span>
        <label for="makes_quantity"> Quantity </label>
        <input
          type="number"
          id="makes_quantity"
          name="makes_quantity"
          class="fill"
          min="1"
          value={data.recipe.makes_quantity}
          required
        />
      </span>
      <datalist id="existing-units">
        {#each data.units as unit}
          <option value={unit} />
        {/each}
      </datalist>
      <span>
        <label for="makes_unit"> Unit </label>
        <input
          type="text"
          id="makes_unit"
          class="fill"
          name="makes_unit"
          list="existing-units"
          value={data.recipe.makes_unit}
          required
        />
      </span>
    </div>
  </fieldset>

  <fieldset>
    <legend>Ingredient sets</legend>
    <datalist id="existing-ingredients">
      {#each data.ingredients as ingredient}
        <option value={ingredient} />
      {/each}
    </datalist>
    {#each data.ingredient_sets as ingredient_set, j}
      <fieldset>
        <legend>Ingredient set {j + 1}</legend>
        {#if data.ingredient_sets.length > 1}
          <label for="ingredient_set_name"> Name </label>
          <input
            type="text"
            name="ingredient_set_name_{j}"
            id="ingredient_set_name"
            bind:value={ingredient_set.name}
            class="fill"
            required
          />
        {/if}
        <table>
          <colgroup>
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
          </colgroup>
          <thead>
            <tr>
              <th scope="col"> Quantity </th>
              <th scope="col"> Unit </th>
              <th scope="col"> Ingredient </th>
              <th scope="col"> Comment </th>
              <th scope="col"> <abbr title="Optional"> Opt. </abbr> </th>
              <th scope="col"> Delete </th>
            </tr>
          </thead>
          <tbody>
            {#each ingredient_set.ingredients as ingredient, i}
              <tr>
                <td>
                  <input
                    type="number"
                    name="ingredient_quantity_{j}_{i}"
                    bind:value={ingredient.quantity}
                    class="fill no-margin"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    name="ingredient_unit_{j}_{i}"
                    bind:value={ingredient.unit}
                    class="fill no-margin"
                    list="existing-units"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    name="ingredient_name_{j}_{i}"
                    bind:value={ingredient.name}
                    class="fill no-margin"
                    required
                    list="existing-ingredients"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    name="ingredient_comment_{j}_{i}"
                    bind:value={ingredient.comment}
                    class="fill no-margin"
                  />
                </td>
                <td class="centred">
                  <input
                    type="checkbox"
                    name="ingredient_optional_{j}_{i}"
                    bind:value={ingredient.optional}
                  />
                </td>
                <td>
                  <button
                    type="reset"
                    class="no-margin"
                    on:click={() =>
                      (ingredient_set.ingredients =
                        ingredient_set.ingredients.filter((_, ii) => ii !== i))}
                  >
                    &minus;
                  </button>
                </td>
              </tr>
            {/each}
          </tbody>
        </table>
        <div class="row expand">
          <button
            type="button"
            on:click={() =>
              (ingredient_set.ingredients = [
                ...ingredient_set.ingredients,
                {},
              ])}>Add ingredient</button
          >
          <button
            type="reset"
            on:click={() =>
              (data.ingredient_sets = data.ingredient_sets.filter(
                (_, jj) => jj !== j
              ))}>Delete ingredient set</button
          >
        </div>
      </fieldset>
    {/each}
    <div class="row centre">
      <button
        type="button"
        on:click={() =>
          (data.ingredient_sets = [
            ...data.ingredient_sets,
            { name: "", ingredients: [{}] },
          ])}>Add ingredient set</button
      >
    </div>
  </fieldset>

  <fieldset>
    <legend>Method</legend>
    {#if data.method.length === 0}
      <div class="row centre">
        <button type="button" on:click={() => (data.method = [""])}>+</button>
      </div>
    {:else}
      <div class="method-grid">
        {#each data.method as step, i}
          <label for="method-{i}">{i + 1}.</label>
          <textarea
            name="method"
            id="method-{i}"
            bind:value={step}
            rows="1"
            class="no-margin"
            required
          />
          <button
            type="button"
            class="no-margin"
            on:click={() =>
              (data.method = [
                ...data.method.slice(0, i + 1),
                "",
                ...data.method.slice(i + 1),
              ])}>+</button
          >
          <button
            type="reset"
            class="no-margin"
            on:click={() =>
              (data.method = data.method.filter((_, ii) => ii !== i))}
          >
            &minus;
          </button>
        {/each}
      </div>
    {/if}
  </fieldset>

  <div>
    <button type="submit">Submit</button>

    {#if form?.error}
      <span>
        {form.error.name}: {form.error.message}
      </span>
    {/if}
  </div>
</form>

<style>
  table {
    table-layout: auto;
  }

  tr:nth-child(2n) input {
    background-color: var(--background-body);
  }

  .centred {
    text-align: center;
    vertical-align: middle;
  }

  .row {
    display: flex;
    gap: 1ex;
    flex-wrap: wrap;
  }

  .expand {
    justify-content: space-between;
  }

  .centre {
    justify-content: center;
  }

  .tag-grid {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .method-grid {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 1ex;
    align-items: center;
  }

  .no-margin {
    margin: 0;
  }

  .fill {
    box-sizing: border-box;
    width: 100%;
  }
</style>
