<script>
  export let nav;
</script>

<hr />

<p class="row expand">
  <span>
    {#if nav.prev}
      <a href={nav.prev}>prev</a>
    {/if}
  </span>
  <span>
    {#if nav.next}
      <a href={nav.next}>next</a>
    {/if}
  </span>
</p>

<style>
  .row {
    display: flex;
    gap: 1ex;
  }

  .expand {
    justify-content: space-between;
  }
</style>
