<script>
  export let data;
</script>

<h1>Tags</h1>

{#if data.tags.length === 0}
  There's nothing here!
{/if}

<ul>
  {#each data.tags as tag}
    <li>
      <a href="tags/{tag.id}">#{tag.name}</a>
    </li>
  {/each}
</ul>

<style>
</style>
