<script>
  import "water.css";
</script>

<svelte:head>
  <title>Recipes</title>
</svelte:head>

<header>
  <nav class="row">
    <a href="/">Home</a>
    <a href="/recipes">Recipes</a>
    <a href="/tags">Tags</a>
    <a href="/ingredients">Ingredients</a>
    <a href="/manage">Manage</a>
  </nav>
</header>

<main>
  <slot />
</main>

<style>
  .row {
    display: flex;
    gap: 1em;
  }
</style>
