<script>
  import { enhance } from "$app/forms";
  import { check_title_unique } from "$lib/client.js";

  export let data, form;
</script>

<h1>Edit ingredient</h1>

<form method="POST" use:enhance>
  <div>
    <label for="name"> Name </label>
    <input
      type="text"
      id="name"
      name="name"
      class="fill"
      value={data.item.name}
      required
        on:input={(e) => check_title_unique(e, data.names)}
    />
  </div>
  <div>
    <label for="desc"> Description </label>
    <textarea id="desc" name="desc" rows="5" value={data.item.desc} />
  </div>

  <div>
    <button type="submit">Submit</button>

    {#if form?.error}
      <span>
        {form.error.name}: {form.error.message}
      </span>
    {/if}
  </div>
</form>

<style>
  .fill {
    box-sizing: border-box;
    width: 100%;
  }
</style>
