<script>
  import PrevNext from "$lib/PrevNext.svelte";
  export let data;
</script>

<h1>{data.ingredient.name}</h1>

<p class="row">
  {#each data.tags as tag}
    <a href="/tags/{tag.id}">#{tag.name}</a>
  {/each}
</p>

<p>
  {data.ingredient.desc}
</p>

<h2>Recipes</h2>

<ul>
  {#each data.recipes as recipe}
    <li>
      <a href="/recipes/{recipe.id}">{recipe.name}</a>
    </li>
  {/each}
</ul>

<PrevNext nav={data.nav} />

<style>
  .row {
    display: flex;
    gap: 1ex;
  }
</style>
