<script>
  import { enhance } from "$app/forms";

  export let data;

  function autosubmit({ target }) {
    target.parentNode.submit();
  }
</script>

<h1>Recipes</h1>

{#if data.recipes.length === 0}
  There's nothing here!
{/if}

<form method="POST" use:enhance>
  <label for="order">Sort by</label>
  <select name="order" id="order" on:change={autosubmit}>
    {#each data.allowed_order as o}
      <option value={o} selected={data.order === o}>{o}</option>
    {/each}
  </select>
</form>

<ul>
  {#each data.recipes as recipe}
    <li>
      <a href="recipes/{recipe.id}">{recipe.name}</a>
    </li>
  {/each}
</ul>

<style>
</style>
