<script>
  import PrevNext from "$lib/PrevNext.svelte";

  export let data;
</script>

<h1>#{data.tag.name}</h1>

<p>
  {data.tag.desc}
</p>

<h2>Recipes</h2>

<ul>
  {#each data.recipes as recipe}
    <li>
      <a href="/recipes/{recipe.id}">{recipe.name}</a>
    </li>
  {/each}
</ul>

<PrevNext nav={data.nav} />

<style>
</style>
