<script>
  import PrevNext from "$lib/PrevNext.svelte";

  export let data;

  function format_date(date) {
    return date.toLocaleDateString("en-GB", {
      day: "numeric",
      month: "short",
      year: "numeric",
    });
  }

  function unix_day(date) {
    return Math.floor(date.getTime() / 86400000);
  }

  let mul = 1;
</script>

<h1>{data.recipe.name}</h1>

<p>
  Added: {format_date(data.recipe.added)}
</p>
{#if unix_day(data.recipe.edited) > unix_day(data.recipe.added)}
  <p>
    Edited: {format_date(data.recipe.edited)}
  </p>
{/if}

<p class="row">
  {#each data.tags as tag}
    <a href="/tags/{tag.id}">#{tag.name}</a>
  {/each}
</p>

<p>
  {data.recipe.desc}
</p>

<h2>Makes</h2>

<p>
  <label for="mul">Multiplier</label>
  <input type="number" bind:value={mul} min="1" />
</p>

<p>
  Makes
  {mul * data.recipe.makes_quantity}
  {data.recipe.makes_unit}
</p>

{#if data.ingredient_sets.length}
  <h2>Ingredients</h2>

  {#each data.ingredient_sets as ingredient_set}
    <h3>{ingredient_set.name}</h3>

    <ul>
      {#each ingredient_set.ingredients as ingredient}
        <li>
          {#if ingredient.quantity}{mul * ingredient.quantity}{/if}
          {#if ingredient.unit}{ingredient.unit}{/if}
          <a href="/ingredients/{ingredient.id}">{ingredient.name}</a>
          {#if ingredient.comment}, {ingredient.comment}{/if}
          {#if ingredient.optional}(optional){/if}
        </li>
      {/each}
    </ul>
  {/each}
{/if}

{#if data.method.length}
  <h2>Method</h2>

  <ol>
    {#each data.method as step}
      <li>
        {step}
      </li>
    {/each}
  </ol>
{/if}

<PrevNext nav={data.nav} />

<style>
  .row {
    display: flex;
    gap: 1ex;
  }
</style>
