<script>
  import List from "./List.svelte";

  export let data;
</script>

<h1>Manage</h1>

<a href="/manage/recipes/add">Add new recipe</a>

<h2>Recipes</h2>

<List list={data.recipes} name="recipes" />

<h2>Ingredients</h2>

<List list={data.ingredients} name="ingredients" />

<h2>Tags</h2>

<List list={data.tags} name="tags" />

<h2>Units</h2>

<p>Not yet functional!</p>

<List list={data.units} name="units" />

<style>
</style>
