<script>
  import { enhance } from "$app/forms";

  export let list, name;
</script>

{#if list.length === 0}
  There's nothing here!
{:else}
  <table>
    <tbody>
      {#each list as item}
        <tr>
          <td>
            {item.name}
          </td>
          <td>
            <a href="/{name}/{item.id}">View</a>
          </td>
          <td>
            <a href="/manage/{name}/edit/{item.id}">Edit</a>
          </td>
          <td>
            <form
              method="POST"
              action="/manage/{name}/delete/{item.id}"
              use:enhance
            >
              <button disabled={item.used}>Delete</button>
            </form>
          </td>
        </tr>
      {/each}
    </tbody>
  </table>
{/if}

<style>
  td {
    vertical-align: middle;
  }

  button {
    margin: 0;
  }
</style>
