<script>
  export let data;
</script>

<h1>Ingredients</h1>

{#if data.ingredients.length === 0}
  There's nothing here!
{/if}

<ul>
  {#each data.ingredients as ingredient}
    <li>
      <a href="ingredients/{ingredient.id}">{ingredient.name}</a>
    </li>
  {/each}
</ul>

<style>
</style>
